---
const { href, title, description, image } = Astro.props;

---

<a href={href} target="_blank" class="link-card">
  <div class="container">
		<div class="imageContainer">
      <img src={image} />
    </div>
    <div class="text">
      <h5>{title}</h5>
      <p>{description}</p>
      <div class="technologyes">
        {/* 
          tech?.map((technology) => {
            return (<><p> {technology} &nbsp;</p></>);
          })
        */}
				<slot/>
      </div>
    </div>
  </div>
</a>


<style>
  .link-card {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: var(--accent-gray);
  }
  .container {
    display: flex;
		flex-direction: column;
    text-align: left;
    width: 100%;
    justify-content: space-between;
  }
  .text {
    display: flex;
    flex-direction: column;
		margin-top: 20px;
  }
  .text h5 {
    margin: 0;
    font-size: 20px;
  }
  .text p {
    margin: 0;
    font-size: 16px;
  }

  .technologyes {
		width: 100%;
    display: flex;
		gap: 10px;
		margin-top: 10px;
		flex-wrap: wrap;
  }
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .imageContainer img {
		border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .link-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .link-card:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
</style>
